@{
    ViewData["Title"] = "Welcome";
}

<div class="container text-center mt-5">
    <h1>Welcome To Our School Portal</h1>
    <hr class="mb-4" />
    <div>
        <a href="/Student/Add" class="btn btn-primary me-2">Add New Student</a>
        <a href="/Student/List" class="btn btn-primary">Show All Students</a>
    </div>

    <hr class="my-4" />
    <hr class="my-4" />
    <div class="d-flex flex-column align-items-center gap-3">
        <a href="/Service/Encrypt" class="btn btn-primary w-50">Encrypt Text</a>
        <a href="/Service/Decrypt" class="btn btn-primary w-50">Decrypt Text</a>
        <a href="/Service/Change" class="btn btn-primary w-50">Change Password</a>
        <a href="/Service/Reset" class="btn btn-primary w-50">Reset Password</a>
    </div>
</div>
