@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<div class="container text-center mt-5">
    <h1>Welcome To Our School Portal</h1>
    <hr class="mb-4" />
    <div>
        <a href="/Student/Add" class="btn btn-primary me-2">Add New Student</a>
        <a href="/Student/List" class="btn btn-primary">Show All Students</a>
    </div>
</div>